/* CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif
}

main {
  background-color: #076763;
  color: white;
}

.bold {
  font-weight: bold;
}

.section-container {
  padding: 2rem 4vw;
}